@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;800;900&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: #161616;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

/* ---------------------------------------- */
/* MAIN */
main{
    width: 100%;
    height: auto;
    padding: 1rem 3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 3rem;
}
    #cont-principal{
        width: 100%;
        height: 100%;
    }
        #cont-texto{
            width: 100%;
            height: auto;
            padding: 0rem;
            float: none;
            text-align: left;

            display: flex;
            justify-content: center;
            flex-flow: column nowrap;
            align-items: center;
        }
        #cont-imagen{
            width: 100%;
            height: auto;
            float: none;

            display: block;  
            margin-top: 2rem;         
        }
            #cont-imagen figure{
                width: 60%;
                height: auto;
                margin: auto;
            }
/* MAIN */


/* FOOTER */
footer{
    width: 100%;
    height: auto;

    padding: 1rem 3rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
    .footer-cont{
        width: 100%;
        height: auto;
        position: relative;
        margin-bottom: 2rem;
    }
        .footer-cont h3{
            text-align: center;
            width: fit-content;
            padding: 3px 8px;
            border-bottom: solid #ff9c07 2px;
            margin-bottom: 5px;
            font-family: 'Gambarino', serif;
            font-size: 1.2rem;
        }
        .footer-cont p{
            font-size: 0.9rem;
            padding: 0px 8px;
        }
        #RedesSociales{
            display: flex;
            justify-content: start;
            align-items: flex-start;
            flex-flow: column wrap;
        }
        .footer-cont a{
            font-size: 0.9rem;
            padding: 0px 8px;
            text-decoration: none;
            color: #fff;
        }
        .footer-cont a:hover{
            transform: scale(1.1);
            color: #f7b655;
            text-shadow: #f7b655 0px 2px 4px ;
        }
        
/* FOOTER */