
nav{
    width: 100%;
    height: 9vh;
    padding: 0rem 3rem;

    position: relative;
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  ul.topnav li {float: left;}
  
  ul.topnav li {
    display: block;
    padding: 2rem 1rem;
  }
  ul.topnav li a{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s;
    text-shadow: #333 0px 0px 0px;
    text-transform: uppercase;
  }
  
  ul.topnav li a:hover:not(.active) {

    transform: scale(1.1);
    color: #f7b655;
    text-shadow: #f7b655 0px 2px 4px ;
}
  
#logo{
    width: 200px;
    height: auto;    
    position: absolute;
    top: -15px;
    left: 3rem;
} 
#logo img{
    width: 100%;
    height: auto;    
}
  
  ul.topnav li.right {float: right;}

  
  .ocultar{
    display: none;
}
.mostrar{
    display: block;
}
#activo{
  color: #f7b655;
}


@media only screen and (max-width: 600px) {
  #menumobil_open, #menumobil_close{
    position: absolute;
    top: 10px;
    right: 10px;

    font-size: 2.8rem;
    transition: all 1s;
  }
    #menumobil_open{
      color: #f7b655;
    }
    #menumobil_close{
      color: #f75555;
    }
      .animacion {
        animation: desaparecer 0.5s ease-out;
      }
      @keyframes desaparecer {
        0% {
            opacity: 0; /* Posición inicial del objeto */
            right: -20px;
            transform: rotate(-50deg);
        }
        25% {
          right: 10px;
          transform: rotate(-0deg);
          opacity: 100%; /* Posición final del objeto después de la animación */
        }
        50% {
          right: 17px;
          transform: rotate(30deg);
          opacity: 100%; /* Posición final del objeto después de la animación */
        }
        75% {
          right: 10px;
          transform: rotate(-10deg);
          opacity: 100%; /* Posición final del objeto después de la animación */
        }
        100% {
          right: 10px;
          transform: rotate(0deg);
          opacity: 100%; /* Posición final del objeto después de la animación */
        }
      }
  
  nav{
    width: 100%;
    height: 70px;
    padding: 0rem;
    overflow: hidden;
  
    position: relative;
    transition: all 0.4s;
  }
    ul.topnav {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
      
    ul.topnav li {
      display: block;
      padding: 1.5rem;
    }
    
  #logo{
    width: 200px;
    height: auto;    
    position: absolute;
    top: -85px;
    left: 50%;
    transform: translate(-50%, 50%);
  }
  
  ul.topnav li.right, ul.topnav li {
    float: none;
  }
    
    .ocultar{
      display: block;
  }
  
  
  
}